## P2P Lending Dataset Preparation

This script has the goal of merging the data made available from [Lending Club](https://www.lendingclub.com) between 2007 and 2016.
In this work, we tackle only "Charged Off" and "Fully Paid" loans.
The main steps taken to prepare the dataset are the following:

1. Data load and header sanity check
2. Data concatenation
3. Removal and treatment of string variables
4. Removal of instances (loan requests) with many missing values
5. Removal of features (attributes) with many missing values
6. Removal of variables of low variability
7. Removal of features to avoid data leakage
8. Missing values imputation

### 1. Data load and header sanity check

In [54]:
import pandas as pd
import numpy as np
from scipy import *
from scipy.stats.stats import pearsonr, spearmanr
from IPython.display import display
import matplotlib.pyplot as plt
%matplotlib inline

In [55]:
df2007to2011 = pd.read_csv("./LoanStats3a_securev1.csv", low_memory=False, skiprows=[0])
df2012to2013 = pd.read_csv("./LoanStats3b_securev1.csv", low_memory=False, skiprows=[0])
df2014       = pd.read_csv("./LoanStats3c_securev1.csv", low_memory=False, skiprows=[0])
df2015       = pd.read_csv("./LoanStats3d_securev1.csv", low_memory=False, skiprows=[0])
df2016Q1     = pd.read_csv("./LoanStats_securev1_2016Q1.csv", low_memory=False, skiprows=[0])
df2016Q2     = pd.read_csv("./LoanStats_securev1_2016Q2.csv", low_memory=False, skiprows=[0])
df2016Q3     = pd.read_csv("./LoanStats_securev1_2016Q3.csv", low_memory=False, skiprows=[0])
df2016Q4     = pd.read_csv("./LoanStats_securev1_2016Q4.csv", low_memory=False, skiprows=[0])

all_dfs = [df2007to2011, df2012to2013, df2014, df2015, df2016Q1, df2016Q2, df2016Q3, df2016Q4]

#### Checking out how the data is shaped and if they match

In [56]:
columnsFirstDF = list(all_dfs[0].columns.values)
error = False
for df in all_dfs:
    if set(df.columns.values) != set(columnsFirstDF):
        error = True

if error:
    print("Subfiles are not maching!")

### 2. Data concatenation

In [57]:
df = pd.concat(all_dfs)
#### Filters dataset to contain only "Charged Off" and "Fully Paid" loans
df = df.loc[(df.loan_status == "Charged Off") | (df.loan_status == "Fully Paid")]
df.set_index('id', inplace = True)
df.reset_index(inplace = True)
df.sort_index(inplace = True)
print(df.shape)

(578331, 128)

### 7. Removal of features to avoid data leakage

In [58]:
featuresToRemove = ['id',
                    'member_id',
                    'title',
                    'funded_amnt',
                    'funded_amnt_inv',
                    'sub_grade',
                    'int_rate',
                    'emp_title',
                    'issued_d',
                    'zip_code',
                    'out_prncp',
                    'out_prncp_inv',
                    'total_pymnt',
                    'total_pymnt_inv',
                    'total_rec_prncp',
                    'total_rec_int',
                    'total_rec_late_fee',
                    'recoveries',
                    'collection_recovery_fee',
                    'last_pymnt_d',
                    'last_pymnt_amnt',
                    'last_fico_range_low', 
                    'last_fico_range_high',
                    'desc',
                    'url']
                    
#                     'issue_d',
#                     'last_credit_pull_d',
#                     'last_pymnt_amnt',
#                     'last_pymnt_d',
#                     'member_id',
#                     'next_pymnt_d',
#                     'policy_code',
#                     'revol_bal',
#                     'revol_bal_joint',
#                     'revol_util',
#                     'title',
#                     'total_pymnt',
#                     'total_pymnt_inv',
#                     'total_rec_int',
#                     'total_rec_late_fee',
#                     'total_rec_prncp',
#                     'url']
for f in featuresToRemove:
    df.drop(f, axis = 1, inplace = True, errors='ignore')
display(df.head())

,loan_amnt,term,installment,grade,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,desc,purpose,addr_state,dti,...,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_fico_range_low,sec_app_fico_range_high,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_il_6m,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog
0,5000.0,36 months,162.87,B,10+ years,RENT,24000.0,Verified,Dec-2011,Fully Paid,n,Borrower added on 12/22/11 > I need to upgra...,credit_card,AZ,27.65,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2500.0,60 months,59.83,C,< 1 year,RENT,30000.0,Source Verified,Dec-2011,Charged Off,n,Borrower added on 12/22/11 > I plan to use t...,car,GA,1.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2400.0,36 months,84.33,C,10+ years,RENT,12252.0,Not Verified,Dec-2011,Fully Paid,n,NaN,small_business,IL,8.72,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10000.0,36 months,339.31,C,10+ years,RENT,49200.0,Source Verified,Dec-2011,Fully Paid,n,Borrower added on 12/21/11 > to pay for prop...,other,CA,20.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3000.0,60 months,67.79,B,1 year,RENT,80000.0,Source Verified,Dec-2011,Fully Paid,n,Borrower added on 12/21/11 > I plan on combi...,other,OR,17.94,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### 3. Removal and treatment of string variables

In [59]:
df_string = df.select_dtypes(exclude=[np.number])
# print(df_string.shape)
pd.set_option('display.max_columns', 30)
# display(df_string.head(1))

print("Cleaning up numeric data...")
#### Converts some features to numeric
def convertToNumeric(dataframe, list_of_attributes):
    for f in list_of_attributes:
        dataframe[f].replace(regex = True, inplace=True, to_replace=r'[^\d.]+', value = r'')
        dataframe[f] = pd.to_numeric(dataframe[f], errors='ignore')

features_to_convert_to_numeric = ['term', 
                                  #'zip_code', 
                                  'revol_util', 
                                  #'int_rate'
                                 ]
convertToNumeric(df, features_to_convert_to_numeric)


#### Drops pure string text features
# df.drop(['emp_title', 'url', 'desc', 'title'], axis = 1, inplace = True)
# df_string = df.select_dtypes(exclude=[np.number])

print("Applying one hot encoding...")
#### Applies one-hot-encoding to categorical variables
def oneHotEncoding(dataframe, columnsToEncode):
    new_dummies = []
    for feature in columnsToEncode:
        # creates dummies
        dummies = pd.get_dummies(dataframe[feature])
        for v in dummies.columns.values:
            new_dummies.append(v)
        # drops the feature
        dataframe.drop(feature, axis = 1, inplace = True)
        # appends n-1 features (the last is not necessary)
        dummies.drop(dummies.columns[len(dummies.columns)-1], axis = 1, inplace=True)
        dataframe = dataframe.join(dummies)
    return dataframe, new_dummies

# for f in df_string.columns.values:
#     display(df[f].value_counts())

categorical_features = ['grade', 
#                         'sub_grade', 
                        'emp_length', 
                        'home_ownership', 
                        'verification_status', 
                        'pymnt_plan', 
                        'purpose', 
                        'addr_state', 
                        'initial_list_status', 
                        'application_type']
df, new_dummies = oneHotEncoding(df, categorical_features)

print("Cleaning up date data...")
#### TREATS DATE COLUMNS
from datetime import datetime
def separateDates(dataframe, columns):
    for f in columns:
        dataframe[f] = pd.to_datetime(dataframe[f], format='%b-%Y')
        year = dataframe[f].apply(lambda x: x.strftime('%Y') if not pd.isnull(x) else '')
        month = dataframe[f].apply(lambda x: x.strftime('%m') if not pd.isnull(x) else '')    
#         display(year)
#         display(month)
        dataframe.drop(f, axis = 1, inplace = True)
        df[(f + '_month')] = month
        df[(f + '_year')] = year
        df[(f + '_month')] = pd.to_numeric(df[(f + '_month')])
        df[(f + '_year')] = pd.to_numeric(df[(f + '_year')])        
    return df

date_columns = ['issue_d', 
                'earliest_cr_line', 
                #'last_pymnt_d', 
                'next_pymnt_d', 
                'last_credit_pull_d']
# all of these dates are in the mmm-YYYY format
# and we wish to break them down into two separate columns: mm and YYYY
df = separateDates(df, date_columns)

print("The new shape is now {}".format(df.shape))
# display(df.head(1))
# print(new_dummies)

Cleaning up numeric data...
Applying one hot encoding...
Cleaning up date data...
The new shape is now (578331, 191)

### 4. Removal of instances (loan requests) with many missing values

In [60]:
#### Getting rid of instances with too many missing values (above 90%)
df.dropna(thresh = 0.5 * df.shape[1], axis = 0, inplace = True)
display(df.shape)

(578331, 191)

### 5. Removal of features (attributes) with many missing values

In [61]:
#### Removes all features with more than 70% of the values missing
df.dropna(thresh = 0.5 * df.shape[0], axis = 1, inplace = True)
display(df.shape)

(578331, 153)

### 6. Removal of variables of low variability (below 25%)

In [62]:
toRemove = []
for attribute in df.columns.values:
#     if df_training[attribute].dtype == object and attribute != 'Credit-Application-Result':
    if attribute != 'loan_status' and attribute not in new_dummies:
        count = pd.Series.value_counts(df[attribute])
        maxCount = np.max(count)
        variability = 1.0 - (float(maxCount) / count.sum())
        if variability < .25:
            print("{} has a variability of {}".format(attribute, variability))            
            toRemove.append(attribute)
            
            
for f in toRemove:
    df.drop(f, axis = 1, inplace = True)
print(df.shape)

term has a variability of 0.23898252039057222
delinq_2yrs has a variability of 0.18065606028381676
pub_rec has a variability of 0.15178677954320274
collections_12_mths_ex_med has a variability of 0.011065669447926973
policy_code has a variability of 0.0
acc_now_delinq has a variability of 0.004236328331007622
tot_coll_amt has a variability of 0.13598230628431973
chargeoff_within_12_mths has a variability of 0.007214560546452864
delinq_amnt has a variability of 0.0031279665105277132
num_accts_ever_120_pd has a variability of 0.22768339043506824
num_tl_120dpd_2m has a variability of 0.0007747292986883814
num_tl_30dpd has a variability of 0.0031151734171868117
num_tl_90g_dpd_24m has a variability of 0.05583650130629991
pub_rec_bankruptcies has a variability of 0.11668634464037786
tax_liens has a variability of 0.02426109992875569
(578331, 138)

### 8. Missing values imputation

In [63]:
for f in df.columns.values:
    if df[f].dtype == np.float64 or df[f].dtype == np.int64:
        df[f].fillna(df[f].median(),inplace = True)
    else:
        df[f].fillna(df[f].value_counts().index[0], inplace = True)
print (df.shape)
# display(df.isnull().sum() / df.shape[0])
# display(df.head())

(578331, 138)

#### ATTEMPT: CHI SQUARE FS AND ELIMINATION BASED ON P-VALS

In [64]:
# from sklearn.feature_selection import chi2

# display(X.head(5))

# df_string = X.select_dtypes(exclude=[np.number])
# display(df_string)

# display(X.dtypes)
df['dti'] = df['dti'].replace(-1,0)
X = df.drop('loan_status', axis = 1)
y = df['loan_status']


# print(sum(n < 0 for n in X.values.flatten()))
# scores, pvals = chi2(X, y)

## Saves this final DF to a csv file

In [65]:
df.to_csv("./p2p_lendingclub_clean.csv", index = False)

# OTHER STUFF

#### Converting n/a into NaNs and NaNs into 0s

In [28]:
df.replace('n/a', np.nan, inplace = True)
df.replace(np.nan, 0.0, inplace = True)

#### Dropping irrelevant of features that would strongly bias our models

#### Checking data types

In [ ]:
# display(df.dtypes)

#### Checking how many missing values we have per feature

In [ ]:
# display(df.isnull().sum() / df.shape[0])

#### Getting rid of non-numeric data

In [ ]:
# df_num = df.select_dtypes(include=[np.number])
# display(df_num.shape)
# display(df_num)

#### Checking the correlation between features

In [27]:
df_correlation = df.corr().abs()
display(df_correlation.head(5))
#display(df_correlation)


# import seaborn as sns
# sns.heatmap(df_correlation,
#             xticklabels=df_correlation.columns.values,
#             yticklabels=df_correlation.columns.values)

,loan_amnt,installment,annual_inc,dti,inq_last_6mths,open_acc,revol_bal,revol_util,total_acc,last_fico_range_high,last_fico_range_low,tot_cur_bal,total_rev_hi_lim,acc_open_past_24mths,avg_cur_bal,...,PA,RI,SC,SD,TN,TX,UT,VA,VT,WA,WI,WV,f,DIRECT_PAY,INDIVIDUAL
loan_amnt,1.000000,0.953794,0.343733,0.010949,0.010189,0.196406,0.327251,0.103727,0.221441,0.053215,0.048063,0.312888,0.311928,0.021780,0.231148,...,0.007766,0.006231,0.002857,0.004520,0.000809,0.030464,0.000409,0.016641,0.005981,0.003217,0.008672,0.003023,0.074834,0.003844,0.020541
installment,0.953794,1.000000,0.336469,0.010489,0.011859,0.186511,0.314858,0.125522,0.199643,0.045435,0.042233,0.285961,0.288504,0.028005,0.209268,...,0.012030,0.006441,0.003623,0.003863,0.001332,0.032988,0.001816,0.013516,0.006070,0.004421,0.009856,0.005390,0.036317,0.000638,0.021357
annual_inc,0.343733,0.336469,1.000000,0.056978,0.043682,0.139031,0.304617,0.030636,0.195811,0.080016,0.070225,0.414419,0.281010,0.048793,0.332267,...,0.013111,0.003998,0.006508,0.010460,0.011977,0.026226,0.003621,0.015720,0.008070,0.001058,0.016676,0.009076,0.044031,0.009962,0.013163
dti,0.010949,0.010489,0.056978,1.000000,0.001285,0.089071,0.040811,0.057286,0.066832,0.036943,0.024531,0.000569,0.020023,0.053815,0.032506,...,0.004643,0.001547,0.003813,0.003893,0.007383,0.012320,0.001743,0.000596,0.002158,0.001390,0.002209,0.004066,0.016632,0.028864,0.080167
inq_last_6mths,0.010189,0.011859,0.043682,0.001285,1.000000,0.120015,0.013319,0.082841,0.140213,0.091266,0.069662,0.030549,0.010114,0.221715,0.014110,...,0.021690,0.002211,0.010879,0.000132,0.003208,0.000820,0.007760,0.013832,0.004206,0.004337,0.022969,0.000136,0.052661,0.001832,0.005898

#### Correlation between features and the target

In [ ]:
X = df.drop('loan_status', axis = 1)
y = df['loan_status']

from scipy.stats import spearmanr

print("--- SPEARMAN ---")
for f in X.columns.values:
    corr = spearmanr(X[f], y)
    print("{} w/ {} =".format())

#### Runs a decision tree to see what's going on

In [ ]:
# from sklearn import tree
# from sklearn.model_selection import train_test_split

# X = df_num
# y = df['loan_status']

# xTrain, xTest, yTrain, yTest = train_test_split(X, y, test_size=0.33, random_state=42)

# clf = tree.DecisionTreeClassifier()
# clf.fit(xTrain, yTrain)

In [ ]:
# df.groupby('loan_status').count()

In [ ]:
# from IPython.display import Image  
# import pydotplus 
# dot_data = tree.export_graphviz(clf, out_file=None, 
#                          feature_names=X.columns.values,  
#                          class_names=y,  
#                          filled=True, rounded=True,  
#                          special_characters=True)  
# graph = pydotplus.graph_from_dot_data(dot_data)  
# Image(graph.create_png())